@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.spacer{

  min-height: 93vh;
  display: flex;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
}

.layer1{

  background-image: url("../../images/stacked-waves-haikei\ \(2\).svg");
}

.mainback {
  min-height: 93vh;
  display: flex;
  align-items: center;
  /* background-color: #f6f6f6; */
  background: linear-gradient(#f6f6f6, #83ced2);
  /* background-image: url("https://res.cloudinary.com/psicopanas/image/upload/v1634830276/Fondo2_gkuike.png"); */
  background-position: center;
  background-size: cover;
}
.page {
  width: 100%;
}
.heading {
  font-size: 60px;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Work Sans", sans-serif;
  padding: 5px 10px;
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
