.welcome {
  display: flex;
  background: none;
}
.title {
  font-size: 50px;
  justify-content: center;
  text-align: center;
}

.goti-box {
  border: solid 5px;
  border-color: #0a656b;
}

.brand {
  color: #0a656b;
  font-weight: bold;
  margin-left: 10px;
}

.info-box {
  background-color: #f6f6f6;
  font-weight: bold;
  margin: 10px;
}

.info-box :hover {
  background-color: #0a656b;
  font-weight: bold;
  color: #f6f6f6;
  cursor: default;
}

.img {
  margin-top: 10px;
}

.title2 {
  font-size: 40px;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.normal-text {
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.intro-text {
  width: 100%;
  text-align: center;
}
.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background: rgb(131, 206, 210);
  background: linear-gradient(#f6f6f6, #83ced2);
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 60px;
  }
  .landingbutton {
    width: 150px;
    height: 50px;
  }
}
